<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:bean="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">


    <context:annotation-config/>

    <context:property-placeholder location="classpath:db.properties,classpath:alioss.properties,classpath:manager-config.properties"/>

    <bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--            <property name="autoCommitOnClose" value="true" />-->
        <!--            <property name="maxPoolSize" value="30" />-->
    </bean>

    <bean id="aliOssProperties" class="com.runnersoftware.decoration.utils.AliOssProperties">
        <property name="endPoint" value="${endPoint}" />
        <property name="bucketName" value="${bucketName}" />
        <property name="keyId" value="${keyId}" />
        <property name="keySecret" value="${keySecret}" />
    </bean>

    <bean id="managerProperties" class="com.runnersoftware.decoration.utils.ManagerProperties">
        <property name="username" value="${manager.username}" />
        <property name="password" value="${manager.password}" />
    </bean>


    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="pooledDataSource" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"  />


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <property name="dataSource" ref="pooledDataSource" />
        <property name="mapperLocations" value="classpath:mapper/*.xml" />
    </bean>


    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.runnersoftware.decoration.mapper" />
    </bean>
    <context:component-scan base-package="com.runnersoftware.decoration" />


    <aop:config>
        <aop:pointcut expression="execution(* com.runnersoftware.decoration.service.Impl.*.*(..))" id="cutPoint" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="cutPoint" />
    </aop:config>


    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
            <tx:method name="get" read-only="true"/>
        </tx:attributes>
    </tx:advice>


</beans>