<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runnersoftware.decoration.mapper.ShoppingCarMapper">

    <select id="find" resultMap="baseMap">
        SELECT *
        FROM sys_scar
    </select>

    <select id="findAll" resultMap="queryMap" parameterType="com.runnersoftware.decoration.model.ShoppingCar">
        SELECT temp.total, temp.materials_group_id, temp.group_id, SUM(sys_materials_group.price) AS price
        FROM (SELECT count(*) AS total, materials_group_id, materials_group_id AS group_id
              FROM sys_scar
              WHERE user_id = '${userId}'
              GROUP BY materials_group_id) AS temp
                 LEFT JOIN sys_materials_group ON temp.materials_group_id = sys_materials_group.group_id
        GROUP BY materials_group_id

        #         SELECT count(*) AS total, materials_group_id, materials_group_id AS group_id FROM sys_scar
#             WHERE user_id = '${userId}' GROUP BY materials_group_id
    </select>

    <delete id="delete" parameterType="com.runnersoftware.decoration.model.ShoppingCar">
        DELETE
        FROM sys_scar
        WHERE materials_group_id = '${materialGroupId}'
          AND user_id = '${userId}'
    </delete>

    <insert id="insert" parameterType="com.runnersoftware.decoration.model.ShoppingCar">
        INSERT INTO sys_scar(id, materials_group_id, user_id)
        VALUES (UUID_SHORT(), #{materialGroupId}, #{userId})
    </insert>

    <update id="update" parameterType="com.runnersoftware.decoration.model.ShoppingCar">
        UPDATE sys_scar
        <set>
            <if test="materials_group_id != null and materials_group_id != ''">
                description = #{description},
            </if>
            <if test="user_id != null">
                enable = #{enable},
            </if>
        </set>
        WHERE id = '${id}'
    </update>


    <resultMap id="baseMap" type="com.runnersoftware.decoration.model.ShoppingCar">
        <id property="id" column="id"/>
        <result property="materialGroupId" column="material_group_id"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="createtime"/>
    </resultMap>

    <resultMap id="queryMap" type="com.runnersoftware.decoration.model.vo.ShoppingCarVO">
        <result property="materialGroupId" column="materials_group_id"/>
        <result property="total" column="total"/>
        <result property="price" column="price"/>
        <association property="materialVO" resultMap="com.runnersoftware.decoration.mapper.MaterialMapper.queryMap"/>
    </resultMap>

</mapper>